<main class="px-6 py-8" style="background: radial-gradient(circle at right, #b0dba6 , #d0c3e6)">
  <div class="container mx-auto">
    <section class="bg-white px-8 py-10 md:p-20 mb-20 shadow-xl">
      <h1 class="text-5xl mb-10 font-bold font-serif">FAQ</h1>
      <article class="mb-8 border shadow p-10">
        <h2 class="text-xl font-bold font-serif mb-2">What is Planning Poker?</h2>
        <p class="pl-4 border-l-2">Planning Poker, often referred to as Scrum Poker, is a consensus-based estimation technique primarily used in Agile methodologies, especially Scrum and Extreme Programming (XP). The method involves team members making estimates by playing numbered cards face-down instead of saying them aloud, thus avoiding the influence of other participants.</p>
      </article>
      <article class="mb-8 border shadow p-10">
        <h2 class="text-xl font-bold font-serif mb-2">How Does Planning Poker Work?</h2>
          <ul class="pl-4 border-l-2 list-disc list-inside">
            <li><span class="font-bold">Item Presentation:</span> The product owner or the facilitator presents an item to be estimated. This could be a user story, a feature, or any task.</li>
            <li><span class="font-bold">Discussion:</span> Team members discuss the requirements and details of the item. Any ambiguities are clarified.</li>
            <li><span class="font-bold">Estimation:</span> Each estimator selects a card representing their estimate. Cards are kept face-down until everyone has chosen.</li>
            <li><span class="font-bold">Reveal:</span> All cards are revealed simultaneously.</li>
            <li><span class="font-bold">Discussion of Variances:</span> If there's a significant difference in estimates, the high and low estimators explain their reasoning. This can lead to new insights or the uncovering of unknowns.</li>
            <li><span class="font-bold">Re-estimation:</span> If needed, after discussions, another round of estimation is done. This continues until the team reaches a consensus or decide.</li>
          </ul>
      </article>
      <article class="mb-8 border shadow p-10">
        <h2 class="text-xl font-bold font-serif mb-2">Why Use Planning Poker?</h2>
        <ul class="pl-4 border-l-2 list-disc list-inside">
          <li><span class="font-bold">Avoids Anchoring:</span> By not revealing estimates immediately, team members aren't influenced by the first number they hear.</li>
          <li><span class="font-bold">Promotes Equal Participation:</span> Every team member's opinion is valued, ensuring a more democratic estimation process.</li>
          <li><span class="font-bold">Encourages Discussion:</span> Differences in estimates lead to discussions, uncovering different perspectives, hidden complexities, or overlooked details.</li>
          <li><span class="font-bold">Improves Accuracy:</span> Collective wisdom tends to be more accurate than individual estimates, especially over time as the team becomes more experienced.</li>
          <li><span class="font-bold">Builds Team Cohesion:</span> The process fosters better communication and understanding among team members.</li>
        </ul>
      </article>
      <article class="mb-8 border shadow p-10">
        <h2 class="text-xl font-bold font-serif mb-2">Common Card Sequences Used</h2>
        <ul class="pl-4 border-l-2 list-disc list-inside">
          <li><span class="font-bold">Fibonacci Sequence:</span> 1, 2, 3, 5, 8, 13, 21, ...</li>
          <li><span class="font-bold">Modified Fibonacci:</span> 0, 0.5, 1, 2, 3, 5, 8, 13, 20, 40, 100</li>
          <li><span class="font-bold">T-Shirt Sizes:</span> XS, S, M, L, XL, XXL</li>
          <li><span class="font-bold">Sequential:</span> 1, 2, 3, 4, 5, 6, ...</li>
        </ul>
      </article>
      <article class="mb-8 border shadow p-10">
        <h2 class="text-xl font-bold font-serif mb-2">Tips for Effective Planning Poker</h2>
        <ul class="pl-4 border-l-2 list-disc list-inside">
          <li><span class="font-bold">Stay Focused:</span> Limit discussions to the item being estimated.</li>
          <li><span class="font-bold">Respect Opinions:</span> Every team member's estimate is valid.</li>
          <li><span class="font-bold">Limit Time:</span> If consensus isn't reached after a few rounds, consider breaking the item down or seeking more information.</li>
          <li><span class="font-bold">Re-evaluate:</span> As work progresses, previously estimated items can be re-estimated if new information becomes available.</li>
        </ul>
      </article>
    </section>
  </div>
</main>
