<div class="container mx-auto py-10 px-48">
  <h1 class="text-4xl mb-10 font-bold">Privacy Policy</h1>

  <ol>
    <li class="mb-4"><span class="font-bold">Information Collection:</span> Pointpoker.dev collects information directly from users, such as when they register an account, and automatically through their use of the service.</li>
    <li class="mb-4"><span class="font-bold">Use of Information:</span> The collected information is used to provide, maintain, and improve the planning poker services, process transactions, communicate with users, and for other business purposes.</li>
    <li class="mb-4"><span class="font-bold">Sharing of Information:</span> Pointpoker.dev does not sell or share users' personal information with third parties without their consent, except when required by law or in the specific context of a business transfer.</li>
    <li class="mb-4"><span class="font-bold">Data Security:</span> Pointpoker.dev takes reasonable measures to protect users' personal information from loss, theft, misuse, unauthorized access, disclosure, alteration, and destruction.</li>
    <li class="mb-4"><span class="font-bold">Cookies:</span> Pointpoker.dev may use cookies and similar technologies to provide and support the services and each of the uses outlined in this policy.</li>
    <li class="mb-4"><span class="font-bold">User Choices:</span> Users can choose not to provide certain information, but this might affect their ability to use specific features of pointpoker.dev.</li>
    <li class="mb-4"><span class="font-bold">Changes to this Policy:</span> Pointpoker.dev may update this Privacy Policy from time to time. If significant changes are made, users will be notified through the platform or via email.</li>
  </ol>

</div>
