<main class="px-6 py-8" style="background: radial-gradient(circle at right, #b0dba6 , #d0c3e6)">
  <div class="container mx-auto">
    <section class="bg-white px-8 py-10 md:p-20 mb-20 shadow-xl">
      <h1 class="text-5xl mb-10 font-bold font-serif">Terms of Service</h1>

      <ol>
        <li class="mb-4"><span class="font-bold">Acceptance of Terms:</span> By accessing and using pointpoker.dev, you accept and agree to be bound by the terms and provision of this agreement.</li>
        <li class="mb-4"><span class="font-bold">Modification:</span> Pointpoker.dev reserves the right to change, modify, or remove the contents of these terms at any time. Users are encouraged to check for updates regularly.</li>
        <li class="mb-4"><span class="font-bold">Use of the Service:</span> Users agree to use pointpoker.dev for planning poker sessions and not for any illegal purposes or in violation of any local, state, national, or international law.</li>
        <li class="mb-4"><span class="font-bold">Account Responsibilities:</span> Users are responsible for maintaining the confidentiality of their pointpoker.dev account and password. Any activities under a user's account are the responsibility of the user.</li>
        <li class="mb-4"><span class="font-bold">Termination:</span> Pointpoker.dev reserves the right to terminate or suspend access to the service without prior notice for conduct believed to violate these Terms or that might be harmful to other users, the service itself, or third parties.</li>
        <li class="mb-4"><span class="font-bold">Limitation of Liability:</span> Pointpoker.dev shall not be responsible or liable for any direct, indirect, incidental, consequential, or any damages whatsoever arising from the use or inability to use our service.</li>
      </ol>
    </section>
  </div>
</main>
